@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: black;
}
.logo{
    font-size: 3em;
    color: #E50914;
    margin: 20px;
}

section > h2{
    padding: 10px;
    color: white;
    font-size: 2em;
    margin-bottom: 10px;
}

.container2{
    margin: 10px;
}

input[type=email], input[type=password]{
    width: 90%;
    height: 50px;
    background-color: #333333;
    border: none;
    padding: 5px;
    border-radius: 10px;
    margin: auto;
    display: block;
}

input[type=submit]{
    width: 90%;
    margin: auto;
    display: block;
    height: 50px;
    font-size: 1.2em;
    color: white;
    background-color: red;
    border: none;
    border-radius: 10px;
    margin: 25px;
}

.container3 > label{
    color: #8C8C8C;
    font-size: 0.9em;
}
.container3 > a{
    text-decoration: none;
    color:#8C8C8C;
    font-size: 0.9em;
    padding: 50px;
}
.cadastro{
    color: #8C8C8C;
    padding: 10px;
    line-height: 20px;
}
.cadastro > p > a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.cadastro > p{
    margin: 15px;
    line-height: 25px;
}
.container3{
    margin: 10px;
}
footer{
    color: #615e5e;
    padding: 10px;
}
td{
    padding: 20px;
}
td > a{
    text-decoration: none;
    color: #5e5b5b;
}
.container4{
    width: 100vw;
    border-top: 3px solid rgba(255, 255, 255, 0.367);
    padding: 10px;
}
::-webkit-scrollbar{
    width: 0;
    height: 0;
}

a:hover{
    text-decoration: underline;
}